  #datepicker {
    width: 200px;
    margin: 20px auto;
  }

  .navbar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background-color: #1B5E20;
  }

  .navbar .nav-link {
    text-align: center;
    font-size: 16px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    /* width: 33.33%; */
    line-height: 80px;
    text-decoration: none;
    /* Quitar subrayado de los enlaces */
    transition: text-shadow 0.3s;
    /* Agregar una transición al sombreado del texto */
  }

  .navbar .nav-link:hover {
    color: white !important;
  }

  .navbar-light .navbar-nav .nav-link {
    color: white;
  }

  .navbar .nav-link.active,
  .navbar .nav-link:focus,
  .navbar .nav-link:visited {
    /*    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.877); /* Agregar sombreado al texto al pasar el cursor */
    color: rgb(255, 255, 255) !important;
    /* Cambiar color del texto a blanco */
    background-color: #003a18;
  }

  .badge {
    background-color: rgb(193, 29, 29) !important;
  }

  .vista {
    display: none;
    padding-bottom: 80px;
  }

  .floating-button {
    bottom: 90px;
    right: 10px;
    position: fixed;
  }

  .secondary-color{
    background-color: #0277bd;
    color:white;
    border: none;
  }

  .btn-secondary,
  .btn-secondary:active,
  .btn-secondary:focus {
    background-color: #0277bd;
    border-radius: 0;
  }

  .btn-secondary:hover{
    background-color: #036198;
  }

  .btn-primary,
  .btn-primary:active,
  .btn-primary:focus {
    background-color: #1b5e20;
    border-radius: 0;
  }

  .btn-primary:disabled {
    background-color: #2d9134;
    border-radius: 0;
  }

  .btn-primary:hover{
    background-color: #134516;
  }

  .toast-container {
    z-index: 10;
  }

 .primary-color{
    background-color: #1b5e20;
    border: none;
  }

  h1, h2, h3, h4, h5, p, small, div, th, a, td {
    font-family: 'Roboto';
  }
  
  a.disabled {
    /* Make the disabled links grayish*/
    color: gray;
    /* And disable the pointer events */
    pointer-events: none;
  }

  .card-menu{
    border: 1px solid #0277bd;
  }